In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df_school = pd.read_csv('../dataset/dataset.csv')

In [ ]:


column_mapping = {
    'Marital status': 'MaritalStat',
    'Application mode': 'AppMode',
    'Application order': 'AppOrder',
    'Course': 'Course',
    'Daytime/evening attendance': 'DayEveningAtt',
    'Previous qualification': 'PrevQual',
    'Nacionality': 'Nationality',  
    "Mother's qualification": 'MotherQual',
    "Father's qualification": 'FatherQual',
    "Mother's occupation": 'MotherOcc',
    "Father's occupation": 'FatherOcc',
    'Displaced': 'Displaced',
    'Educational special needs': 'EduNeeds',
    'Debtor': 'Debtor',
    'Tuition fees up to date': 'FeesUpdated',
    'Gender': 'Gender',
    'Scholarship holder': 'Scholarship',
    'Age at enrollment': 'AgeEnroll',
    'International': 'International',
    'Curricular units 1st sem (credited)': 'CU1Credited',
    'Curricular units 1st sem (enrolled)': 'CU1Enrolled',
    'Curricular units 1st sem (evaluations)': 'CU1Evaluations',
    'Curricular units 1st sem (approved)': 'CU1Approved',
    'Curricular units 1st sem (grade)': 'CU1Grade',
    'Curricular units 1st sem (without evaluations)': 'CU1NoEvals',
    'Curricular units 2nd sem (credited)': 'CU2Credited',
    'Curricular units 2nd sem (enrolled)': 'CU2Enrolled',
    'Curricular units 2nd sem (evaluations)': 'CU2Evaluations',
    'Curricular units 2nd sem (approved)': 'CU2Approved',
    'Curricular units 2nd sem (grade)': 'CU2Grade',
    'Curricular units 2nd sem (without evaluations)': 'CU2NoEvals',
    'Unemployment rate': 'UnempRate',
    'Inflation rate': 'InflationRate',
    'GDP': 'GDP',
    'Target': 'Target'
}



df_school.rename(columns=column_mapping, inplace=True)

In [ ]:
df_school.head()

In [ ]:
# Gender replacement
gender_replace = {
    1: 'male',
    0: 'female'
}
df_school['Gender'] = df_school['Gender'].replace(gender_replace)

# Nationality replacement
nationality_replace = {
    1: 'Portuguese', 2: 'German', 3: 'Spanish', 4: 'Italian', 5: 'Dutch', 6: 'English',
    7: 'Lithuanian', 8: 'Angolan', 9: 'Cape Verdean', 10: 'Guinean', 11: 'Mozambican',
    12: 'Santomean', 13: 'Turkish', 14: 'Brazilian', 15: 'Romanian', 16: 'Moldova (Republic of)',
    17: 'Mexican', 18: 'Ukrainian', 19: 'Russian', 20: 'Cuban', 21: 'Colombian'
}
df_school['Nationality'] = df_school['Nationality'].replace(nationality_replace)

In [ ]:
# Replace the values in 'Marital status'
marital_mapping = {
    1: 'Single',
    2: 'Married',
    3: 'Widower',
    4: 'Divorced',
    5: 'Facto union',
    6: 'Legally separated'
}

df_school['MaritalStat'] = df_school['MaritalStat'].replace(marital_mapping)

In [ ]:
qualification_mapping = {
    1: 'Secondary Education',
    2: 'Higher Education - Undergraduate',
    3: 'Higher Education - Undergraduate',
    4: 'Higher Education - Graduate',
    5: 'Higher Education - Graduate',
    6: 'Higher Education - Undergraduate',
    7: 'Primary Education',
    8: 'Primary Education',
    9: 'Primary Education',
    10: 'Secondary Education',
    11: 'Secondary Education',
    12: 'Secondary Education',
    13: 'Secondary Education',
    14: 'Secondary Education',
    15: 'Secondary Education',
    16: 'Vocational/Technical',
    17: 'Secondary Education',
    18: 'Primary Education',
    19: 'Secondary Education',
    20: 'Primary Education',
    21: 'Primary Education',
    22: 'Secondary Education',
    23: 'Secondary Education',
    24: 'Unknown',
    25: 'Primary Education',
    26: 'Primary Education',
    27: 'Primary Education',
    28: 'Primary Education',
    29: 'Vocational/Technical',
    30: 'Higher Education - Undergraduate',
    31: 'Higher Education - Undergraduate',
    32: 'Higher Education - Undergraduate',
    33: 'Higher Education - Graduate',
    34: 'Higher Education - Graduate'
}

# Grouping the qualification categories
grouped_qualifications = {
    'Primary Education': 'Primary Education',
    'Secondary Education': 'Secondary Education',
    'Higher Education - Undergraduate': 'Higher Education',
    'Higher Education - Graduate': 'Higher Education',
    'Vocational/Technical': 'Vocational/Technical',
    'Unknown': 'Unknown'
}


df_school["FatherQual"] = df_school["FatherQual"].map(qualification_mapping)
df_school["FatherQual"] = df_school["FatherQual"].replace(grouped_qualifications)

df_school["MotherQual_Cate"] = df_school["MotherQual"].map(qualification_mapping)
df_school["MotherQual_Cate"] = df_school["MotherQual_Cate"].replace(grouped_qualifications)

In [ ]:
# Mapping courses
course_mapping = {
    1: 'Biofuel Production Technologies',
    2: 'Animation and Multimedia Design',
    3: 'Social Service (evening attendance)',
    4: 'Agronomy',
    5: 'Communication Design',
    6: 'Veterinary Nursing',
    7: 'Informatics Engineering',
    8: 'Equiniculture',
    9: 'Management',
    10: 'Social Service',
    11: 'Tourism',
    12: 'Nursing',
    13: 'Oral Hygiene',
    14: 'Advertising and Marketing Management',
    15: 'Journalism and Communication',
    16: 'Basic Education',
    17: 'Management (evening attendance)'
}

df_school['Course Name'] = df_school['Course'].map(course_mapping)

In [ ]:
# Mapping 'Daytime/evening attendance' column
df_school['DayEveningAtt'] = df_school['DayEveningAtt'].replace({1: 'daytime', 0: 'evening'})